<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <!-- Aca filtramos las mascotas  -->
        <!-- Selector de filtro:  -->
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <!-- Muestra filtro:  -->
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <!-- Mensaje de error -->
        <div class='has-error'> </div>

        <!--Tabla de mascotas -->
        <div class='table-responsive'>
            <table class='table'>
                <!--Cabezal de la tabla -->
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Id</th>
                        <th>Pet</th>
                        <th>Age</th>
                        <th>Size</th>
                        <th>Birth Date</th>
                        <th>Weight</th>
                        <th>Breed Name</th>
                    </tr>
                </thead>
                <!--Cuerpo de la tabla-->
                <tbody>
                    <!-- Aca va todo el contenido de la tabla  -->
                    <tr *ngFor='let aPet of pets | petListFilter : listFilter'>
                        <td>
                            <img *ngIf='showImage' 
                                [src]='aPet.imageUrl'
                                [title]='aPet.name' 
                                [style.width.px]='imageWidth' 
                                [style.margin.px]='imageMargin'/>
                        </td>
                        <td>{{aPet.id }}</td>
                        <td>{{aPet.name | uppercase}}</td>
                        <td>{{aPet.age}}</td>
                        <td>{{aPet.size}}</td>
                        <td>{{aPet.birthDate}}</td>
                        <td>{{aPet.weight}}</td>
                        <td>{{aPet.breedName | lowercase }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>